/* change navbar to vertical */
#navBarDisplayHandle {
    display: block;
}


.navBarRemoveBottomBlank {
    margin-bottom: 0;
}

.navBarHandleTopBottom {
    margin-bottom: 6px;
    margin-top: 6px;
}

.borderHrSuccess { 
    border-top: 1px solid #28a745;
}